NEXT_PUBLIC_SITE_URL=https://keychain.qa
NEXT_PUBLIC_API_URL=https://api.keychain.qa
NEXT_PUBLIC_BRAND_NAME_AR=ميدالية رقم السيارة
NEXT_PUBLIC_MARKET=QA
NEXT_PUBLIC_CURRENCY=QAR

NEXT_PUBLIC_WHATSAPP_NUMBER=97433423421

NEXT_PUBLIC_ENABLE_SNAPCHAT=true
NEXT_PUBLIC_SNAP_PIXEL_IDS=8aebb720-6161-4982-a60e-2d14817db185,76e619d1-4e5c-4d87-ac66-1da62aae216d

NEXT_PUBLIC_ENABLE_META=false
NEXT_PUBLIC_META_PIXEL_ID=

NEXT_PUBLIC_ENABLE_TIKTOK=false
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
