NEXT_PUBLIC_SITE_URL=https://keychain.qa
NEXT_PUBLIC_API_URL=https://api.keychain.qa
NEXT_PUBLIC_BRAND_NAME_AR=ميدالية رقم السيارة
NEXT_PUBLIC_MARKET=QA
NEXT_PUBLIC_CURRENCY=QAR

NEXT_PUBLIC_WHATSAPP_NUMBER=97433423421

NEXT_PUBLIC_ENABLE_SNAPCHAT=true
NEXT_PUBLIC_SNAP_PIXEL_ID=

NEXT_PUBLIC_ENABLE_META=false
NEXT_PUBLIC_META_PIXEL_ID=

NEXT_PUBLIC_ENABLE_TIKTOK=false
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
